@(anuncios : List[Anuncio], estilos : List[Estilo], instrumentos : List[Instrumento])

<html lang="">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Band Mania</title>

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="@routes.Assets.at("stylesheets/bootstrap.css")"/>

    <!-- Custom CSS -->
    <link rel="stylesheet" href="@routes.Assets.at("stylesheets/blog-home.css")">
    
    <link href="@routes.Assets.at("stylesheets/multi-select.css")" media="screen" rel="stylesheet">
    

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Início</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="#">Sobre</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Content -->
<div class="container">

        <div class="row">

            <!-- Blog Entries Column -->
            <div class="col-md-8">

                <h1 class="page-header">
                    Band Mania!
                    <small>Encontre sua banda metade</small>
                </h1>
				
				@for(anuncio <- anuncios){
                <!-- First Blog Post -->
                <h2>
                    <a href="#">@anuncio.getTitulo()</a>
                </h2>
                <p class="lead">
                    by <a href="index.php">@anuncio.getNome()</a>
                </p>
                <p><span class="glyphicon glyphicon-time"></span>  @anuncio.getDataPublicacao()</p>
                <br>
                <label>Descrição: </label>
                                <p>@anuncio.getDescricao()</p>
                <br>
                <label>Instrumentos:</label>
                <br>
               <div>
				@for(instrumento <- anuncio.getInstrumentos()){
                <p>@instrumento.getDescricao()</p>
                }
				</div>

                <br>
                
				<div class="row">
                <div class="col-md-6">
                	<label>Estilos que gosta:</label>
                    <br>
                    <div>
				@for(estilo <- anuncio.getGosta()){
                <p>@estilo.getDescricao()</p>
                }
				</div>
                </div>
                <div class="col-md-6">
                	<label>Estilos que não gosta:</label>
                    <br>
                 <div>
				@for(estilo <- anuncio.getNaogosta()){
                <p>@estilo.getDescricao()</p>
                }
                    </div>
                </div>
                </div>
                
                <br>
                <label>Interesse: </label>
                <p>@anuncio.getInteresse()</p>
                
                <br>
                <label>Contato:</label>
                <div class="row">
                <div class="col-md-6">
                <p>Facebook: <a href="#">@anuncio.getFacebook()</a></p>
                </div>
                <div class="col-md-6">
                	<p>Email: @anuncio.getEmail()</p>
                </div>
                </div>
                
                <br>
                <label>Localização:</label>
                <div class="row">
                <div class="col-md-6">
                <p>Cidade: @anuncio.getCidade()</p>
                </div>
                <div class="col-md-6">
                	<p>Bairro: @anuncio.getBairro()</p>
                </div>
                </div>
                
                <hr>
                
                }

                

            </div>

            <!-- Blog Sidebar Widgets Column -->
            <div class="col-md-4">

                <!-- Blog Search Well -->
                <div class="well">
                    <h3>Buscar por:</h3>
                    <form id="form1" name="form1" action="@routes.Application.pesquisar()" method="post">
	                    <label>Palavra chave:</label>
                        <input id="palavrachave" name="palavrachave" type="text" class="form-control"  disabled>
                        <input type="checkbox" id="searchpal" name="searchpal" onClick="capa();"><br>
                        
                        <label>Instrumento:</label>
                        <select id="instrumento" name="instrumento" class="form-control" multiple>
                        @for(instrumento <- instrumentos){
                        
                        <option value="@instrumento.getId()">@instrumento.getDescricao()</option>
                        }
                        </select>
                        <input type="checkbox" id="searchinst" name="searchinst" onClick="capa();"><br>
                        
                        <label>Estilo:</label>
                        <select id="estilo" name="estilo" class="form-control" multiple>
                        @for(estilo <- estilos){
                        
                        <option value="@estilo.getId()">@estilo.getDescricao()</option>
                        }</select>
                        <input type="checkbox" id="searchest" name="searchest" onClick="capa();"><br>
                        
                        <label>Interesse:</label>
                        <select id="interesse" name="interesse" class="form-control" disabled>
                        <option value="Tocar em banda">Tocar em banda</option>
                        <option value="Tocar ocasionalmente">Tocar ocasionalmente</option>
                        </select>
                        <input type="checkbox" id="searchinter" name="searchinter" onClick="capa();"><hr>
                        
                        <input type="submit" value="Buscar">
                    </form>
                </div>

                <!-- Blog Categories Well -->
                <div class="well">
                    <h3>Anúnios:</h3>
                    <div class="row">
                        <div class="col-lg-6">
                            <ul class="list-unstyled">
                                <li><a href="@routes.Application.anuncio()">Criar anúncio</a>
                                </li>
                                <li><a href="#">Finalizar anúncio</a>
                                </li>
                            </ul>
                        </div>
                        <!-- /.col-lg-6 -->
                    </div>
                    <!-- /.row -->
                </div>

            </div>

        </div>
        <!-- /.row -->

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Desenvolvido por Renato Ely</p>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
        </footer>

    </div>
    <!-- /.container -->
    
    <!-- jQuery -->
    <script src="@routes.Assets.at("javascripts/jquery.js")"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="@routes.Assets.at("javascripts/bootstrap.min.js")"></script>
    
     <script src="@routes.Assets.at("javascripts/jquery.multi-select.js")"></script>
    
    <script src="@routes.Assets.at("javascripts/jquery.quicksearch.js")"></script>
    
    <script src="@routes.Assets.at("javascripts/indexscript.js")"></script>

</body>

</html>
